---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import { SITE, HOME } from "../consts";
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import ArrowCard from "../components/ArrowCard.astro";
import Link from "../components/Link.astro";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const experience = new Date().getFullYear() - 2008;
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside>
      <h1 class="animate mb-6 font-semibold text-black dark:text-white">
        Christoph von Gellhorn
      </h1>
      <Image
        src="https://images.unsplash.com/photo-1484788984921-03950022c9ef?q=80&w=3032&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Photo by Alex Knight on Unsplash"
        class="animate"
        inferSize={true}
      />
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <p class="animate">
              I'm a Software Engineer from Germany living in Sydney, Australia.
              I worked in different startups across the globe over a {
                experience
              } year period. I'm specialised in <Link href="https://react.dev/"
                >React</Link
              >, <Link href="https://nodejs.org/en/">Node</Link> and <Link
                href="https://rubyonrails.org/">Rails</Link
              > development.
            </p>
            <p class="animate">
              Currently I'm very interested in building static sites with <Link
                href="https://astro.build/">Astro</Link
              >, creating Shopify Apps and increasing my knowlede in rapid AI
              development.
            </p>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Recent projects
            </h2>
            <Link href="/projects"> See all projects </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
