---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

import { readingTime } from "../../lib/utils";
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Link from "../../components/Link.astro";

export async function getStaticPaths() {
  const projects = (await getCollection("projects"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}
const project = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.title} description={project.data.description}>
  <Container>
    <div class="animate mb-10 space-y-1">
      <div class="flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={project.data.date} />
        </div>
        &bull;
        <div class="font-base text-sm">
          {readingTime(project.body)}
        </div>
      </div>
      <h1 class="text-3xl font-semibold text-black dark:text-white">
        {project.data.title}
      </h1>
      {
        (project.data.demoURL || project.data.repoURL) && (
          <nav class="flex gap-1">
            {project.data.repoURL && (
              <a
                href={project.data.repoURL}
                target="_blank"
                class="-ml-1 inline-block rounded p-1 hover:bg-black/5 dark:hover:bg-white/5"
              >
                <Icon name="fa-brands:github" class="h-4 w-4" />
              </a>
            )}
            {project.data.repoURL && project.data.demoURL && (
              <span class="mr-1 inline-block">/</span>
            )}
            {project.data.demoURL && (
              <Link href={project.data.demoURL} external>
                visit
              </Link>
            )}
          </nav>
        )
      }
    </div>
    <article class="animate">
      <Content />
    </article>
  </Container>
</Layout>
